
body {
    width: 100%;
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
    font-family: -apple-system, Helvetica, sans-serif;
    color: #666;
    line-height: 1.5;
    position: relative;
    background-color: #f6f5fa;
}